<!-- <div data-spy="scroll" data-target="#my-menu" data-offset="0"> -->
<!-- <ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
    <li nz-submenu [(nzOpen)]="rla.isActive">
        <span title>
            <span>{{ rla.isActive}}</span>
        </span>
        <ul>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" #rla="routerLinkActive" routerLink="/route1">
                Route 1
            </li>
            <li nz-menu-item routerLinkActive="ant-menu-item-selected" #rla="routerLinkActive" routerLink="/route2">
                Route 2
            </li>
        </ul>
    </li>
</ul> -->
<nz-layout>
    <nz-header>Header</nz-header>
    <nz-layout zn-row>
        <nz-content nz-col nzSpan="16">Content
            <div nz-col nzSpan="12">
                <nz-card style="padding:5px;" nzHoverable [nzCover]="coverTemplate">
                    <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
                </nz-card>
                <ng-template #coverTemplate>
                    <!-- <div class="view overlay zoom"> -->

                    <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />

                </ng-template>
            </div>
            <div nz-col nzSpan="12"></div>
        </nz-content>

        <nz-sider nz-col nzSpan="8">Sider</nz-sider>
    </nz-layout>
    <nz-footer>Footer</nz-footer>
</nz-layout>