<div class="container">
    <div class="nav_menu">
        <nav>
            <a href="">TRANG CHỦ</a> /
            <a href="">SHOP</a> /
            <a href="">ĐỒNG HỒ</a>
        </nav>
    </div>
    <div class="content">
        <div class="img">
            <div class="img">
            <img class="img" src="/img/mts-100l-7av.jpg">
        </div>
        <div class="save">
            <a href="#" class="button">Xem sản phẩm đã lưu</a>
        </div>
        </div>

        <div class="infor">
            <h1>Lịch lãm MTS-100L-7AV</h1>
            <p><ins>1.900.000</ins> <del>2.374.000</del> </p>
            <span>(Bạn đã tiết kiệm được:<b>474.000)</b></span>
            <ul id="tick">
                <li> Fullbox đồng hồ, hộp đựng</li>
                <li> Thẻ bảo hành chính hãng Casio</li>
                <li> Tem chống hãng giả CASIO sau nắp lưng đồng hồ.</li>
                <li> Sách hướng dẫn sử dụng.</li>
                <li><b>Qùa tặng:</b>Thẻ<span id="mrg">MRG</span>thay pin miễn phí trọn đời cho sản phẩm trị giá
                    500.000đ</li>
            </ul>
            <form action="">
                <div class="button_choose">
                    <input type="button" value="-">
                    <input type="number" value="1" size="4">
                    <input type="button" value="+">
                </div>
                <button type="submit">CHỌN MUA</button>
            </form>
            <span>Gọi đặt mua: <b style="color: red;font-weight: bold;font-size: 20px;">093-413-6886</b> (Tư vấn
                miễn phí)</span>
            <ul id=#product>
                <li><b>Hà Nội:</b>473 Nguyễn Khang, mẫu vấn đề luôn có sẵn.</li>
                <li><b>Hồ Chí Minh:</b> 256 Chu Văn An, quận Bình Thạnh, TP. Hồ Chí Minh</li>
            </ul>
            <span class="title">
                Đặt mua ngay sản phẩm này để được hưởng giá ưu đãi lớn nhất, thời gian chỉ còn:
            </span>
        </div>
        <div class="list_product">
            <h4>GỢI Ý DÀNH CHO BẠN</h4>
            <div class="list">
                <div class="list_img">
                    <img class="list_img" src="/img/1.png">
                    <hr>
                    <img class="list_img" src="/img/2.png">
                    <hr>
                    <img class="list_img" src="/img/3.png">
                    <hr>
                    <img class="list_img" src="/img/1.png">

                </div>
                <div class="price">
                    <span>GA-710GB-1A</span><br>
                    <a href="" id="text">
                        <ins>3.820.000</ins> <del>4.771.00000</del>
                    </a><br>
                    <div class="text_1">
                        <span>GA-BT100-1A</span><br>
                        <a href="">
                            <ins>3.820.000</ins> <del>4.771.00000</del>
                        </a>
                    </div><br>
                    <div class="text_2">
                        <span>GA-BT100-1A</span><br>
                        <a href="">
                            <ins>3.820.000</ins> <del>4.771.00000</del>
                        </a>
                    </div><br>
                    <div class="text_3">
                        <span>GA-BT100-1A</span><br>
                        <a href="" id="text_3">
                            <ins>3.820.000</ins> <del>4.771.00000</del>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="below">
    <div class="description_1">
        <div class="column_1">
            <h4><b>MÔ TẢ</b></h4>
        </div>
        <div class="column_2">
            <h4><b>Các tính năng</b></h4>
            <h4><b>TUỔI THỌ PIN 10 NĂM</b></h4>
            <ul>
                <li>Tinh thể saphia</li>
                <li>Khả năng chống nước ở độ sâu 50 mét</li>
                <li>Hiển thị ngày</li>
                <li>Dây đeo bằng da thật</li>
            </ul>
            <h4><b>Đặc điểm kỹ thuật</b></h4>
            <ul>
                <li>Vật liệu vỏ</li>
                <li>Dây đeo cho bằng đời</li>
                <li>Hiển thị ngày</li>
                <li>Dây đeo bằng da thật</li>
            </ul>
            <h4><b>Kích thước vỏ</b></h4>
            <ul>
                <li>Vật liệu vỏ</li>
                <li>Dây đeo cho bằng đời</li>
            </ul>
        </div>
    </div>
    <hr class="below">
    <div class="addition">
        <div class="column_first">
            <h4><b>THÔNG TIN BỔ SUNG</b></h4>
        </div>
        <div class="column_second">
            <div class="row_1">
                <h4><b>MÀU SẮC</b></h4>
                <h4><b>LOẠI DÂY</b></h4>
            </div>
            <div class="row_2">
                <span id="color"><a href="#">Bạc</a>,<a href="#">Nâu</a> , <a href="#">be</a></span><br><br>
                <span id="color"><a href="#">Dây đeo bằng da thật</a></span>
            </div>
        </div>

    </div>
    <hr class="below">
    <div class="guarantee">
        <div class="title">
            <h4><b>BẢO HÀNH</b></h4>
        </div>
        <div class="paragraph">
            <p>Đồng hồ CASIO chính hãng thường được bảo hành 1 năm cho máy và 18 tháng cho pin. <b>Đặc biệt dòng
                G-SHOCK và BABY-G được bảo hành lên tới 5 năm</b>
                Mọi hư hỏng do hỏa hoạn, thiên tai hay sử dụng bất cẩn hoặc sử dụng sai hướng dẫn, bấm các nút điều
                chỉnh khi đang ở dưới nước và những tổn hại trầy xước của dây, vỏ, mặt kính đều không được bảo hành.
                Mọi hư hỏng do sửa chữa không đúng cách từ những dịch vụ khác không phải do TTBH chính hãng cũng
                không được bảo hành.<br>
                Ngoài ra bạn có thể mang đồng hồ ra các đại lý đồng hồ Casio để nhận được sự tư vấn và bảo hành tại
                trung tâm bảo hành của Casio.</p>
        </div>
    </div>
</div>