<nz-layout>
    <nz-affix [nzOffsetTop]="offsetTop">
        <nz-header>
            <div zn-row style="display: flex" id="my-menu">
                <div class="logo" nz-col nzSpan="3"><a routerLink="home"><img src="https://www.casio-vietnam.com/logo/logo-casio.svg"></a></div>
                <div nz-col nzSpan="7">
                    <nz-input-group [nzSuffix]="suffixIconSearch" nz-col nzSpan="12">
                        <input type="text" nz-input placeholder="input search text" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                </div>
                <div nz-col nzSpan="14">
                    <ul nz-sticky-top nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu" zn-row nzJustify="end">

                        <li nz-menu-item>
                            <a  (click)="onselect('nam')">NAM</a>
                        </li>
                        <li nz-menu-item><a  (click)="onselect('nu')">NỮ</a></li>
                        <li nz-menu-item><a routerLink="home" nz-dropdown [nzDropdownMenu]="menu1"> G-SHOCK
                <i nz-icon nzType="down"></i></a>
                            <nz-dropdown-menu #menu1="nzDropdownMenu">
                                <ul nz-menu nzSelectable>
                                    <li nz-menu-item>1st menu item</li>
                                    <li nz-menu-item>2nd menu item</li>
                                    <li nz-menu-item>3rd menu item</li>
                                    <li nz-menu-item nzDanger>4th danger item</li>
                                </ul>
                            </nz-dropdown-menu>
                        </li>
                        <li nz-menu-item>
                            <a routerLink="home" nz-dropdown [nzDropdownMenu]="menu2">EDIFICE<i nz-icon nzType="down"></i> </a>
                            <nz-dropdown-menu #menu2="nzDropdownMenu">
                                <ul nz-menu nzSelectable>
                                    <li nz-menu-item>1st menu item</li>
                                    <li nz-menu-item>2nd menu item</li>
                                    <li nz-menu-item>3rd menu item</li>
                                    <li nz-menu-item nzDanger>4th danger item</li>
                                </ul>
                            </nz-dropdown-menu>
                        </li>
                        <li nz-menu-item><a routerLink="tag/BABY-G">BABY-G</a></li>
                        <li nz-menu-item>
                            <a routerLink="home" nz-dropdown [nzDropdownMenu]="menu3"> CASIO<i nz-icon nzType="down"></i></a>
                            <nz-dropdown-menu #menu3="nzDropdownMenu">
                                <ul nz-menu nzSelectable>
                                    <li nz-menu-item>1st menu item</li>
                                    <li nz-menu-item>2nd menu item</li>
                                    <li nz-menu-item>3rd menu item</li>
                                    <li nz-menu-item nzDanger>4th danger item</li>
                                </ul>
                            </nz-dropdown-menu>
                        </li>
                        <li nz-menu-item><a routerLink="tag/SHOWROOM">SHOWROOM</a></li>
                        <li nz-menu-item><a routerLink="home" nz-border-primary>Giỏ hàng <i style="font-size:x-large;"nz-icon  nzType="shopping-cart" nzTheme="outline"></i></a>
                        </li>
                        <li nz-menu-item *ngIf="isLoggedIn" (click)="logout()"><a routerLink="home">Logout</a></li>
                        <li nz-menu-item *ngIf="!isLoggedIn" (click)="login()"><a routerLink="home">Login</a></li>
                    </ul>
                </div>
            </div>
        </nz-header>
    </nz-affix>

    <nz-content>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>
<!-- list item se dc custom tai day -->